 @font-face{
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;653
}
 @font-face{
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  text-decoration: none;
}

.page {
	display: flex;
	flex-wrap: wrap;
}

.header {
	/* min-width: 360px; */
	width: 100%;
	min-height: 639px;
	display: block;
	position: relative;
	background-image: url("../images/banner-mobile.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	background-size: cover;
	background-color: #000000;
	z-index: 0;
	margin-bottom: 28px;
	
}

.header::before {
	content:" ";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #666666;
	opacity: 0.6;
	z-index: -1;
}

.menu {
	position: absolute;
	right: 15px;
	top: 27px;
	
}

.menu-list {
	display: none;
}

.btn-close-menu {
	width: 24px;
    height: 20px;
    border: none;
    padding: 0;
    background-color: transparent;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
}

.btn-close-menu::after, .btn-close-menu::before {
	content: "";
    width: 100%;
    height: 15%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
}

.btn-close-menu::after {
top: 0;	
}

.btn-close-menu::before {
	bottom: 0;
}


.btn-close-menu-label {
	width: 100%;
    height: 15%;
    margin-top: -2px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
}
		
.header-menu {
	display: block;
	margin: 225px auto 45px;
	/* width: 100% */
}

.logo img {
	min-width: 270px;
	width: 100%;
	max-height: 60px;
	height: 100%;
	}
	
.header-title {
	max-width: 278px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
	
	
.header-title h1 {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	display: block;
	font-size: 26px;
	line-height: 36px;
	text-transform: uppercase;
	color: #ffffff;
}

.popup {
	width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
	z-index: 1;
}

.popup-container {
	box-sizing: border-box;
	max-width: 331px;
	width: 100%;
	margin: auto;
	background-color: #ffffff;
    position: relative;
	padding: 30px 25px;
}	

.popup-header {
	margin-bottom: 29px;
}

.popup-title {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	display: block;
	text-decoration: none;
	color: #0f0d0e;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
}

.popup-title::after {
	content: " ";
	display: block;
	width: 66px;
	height: 3px;
	background-color: #e1d9bd;
	margin: 10px auto;
}

.popup-form-block-title {
	display: block;
    width: 100%;
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 400;
	font-style: normal; 
	font-size: 13px;
	color: #000000;
	margin-bottom: 12px;
}

.popup-form-block {
	margin-bottom: 20px;
}

.popup-form-block-poll {
	display: block;
	width: 280px;
	height: 50px;
	background-color: #f4f7f6;
	-webkit-appearance: none;
    -moz-apperance: none;
	padding: 16px;
	font-size: 13px;
    font-family: OpenSans, Arial, sans-serif;
	font-weight: 400;
    color: #a2a4a3;
	background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 14px center;
	background-size: 13px;
}

.popup-form-block-poll:hover {
	border: solid 1px #b59f5b;
}

.popup-form-block-mail {
	display: inline-block;
	margin-bottom: 30px;
}

.radio-group-mail-text {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
}
	
.radio-group-mail-text::before {
	display: inline-block;
	content: " ";
	width: 18px;
	height: 18px;
	background-image: url("../svg/form-empty-circle.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px;
	vertical-align: middle;
	margin-right: 4px;
}

.radio {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	height: 1px;
	width: 1px;
} 

.radio:checked ~ .radio-group-mail-text::before {
	background-image: url("../svg/form-circle.svg");
}
	
.radio-group-mail:nth-child(n+2) {
	margin-right: 38px;
}
	
.popup-form-block-textarea {
	margin-bottom: 26px;
	width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.reply  {
	box-sizing: border-box;
	width: 100%;
	min-height: 132px;
	max-height: 150px;
	background-color: #f4f7f6;
	padding: 20px;
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 400;
	font-style: normal; 
	font-size: 13px;
	color: #d1d3d3;
}	
	
.reply:hover{
	
	border: 1px solid #b59f5b;
}

.popup-form-block-button {
	display: block;
	box-sizing: border-box;
	width: 280px;
	height: 50px;
	background-color: #b59f5b;
	padding: 20px;
}

.popup-form-block-button-label {
	display: block;
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
}
.popup-form-block-button:hover {
	background-color: #323232;
}


.popup-close {
	width: 29px; 
	height: 29px;
	
	position: absolute;
	top: -35px;
	right: 0;  
	background-color: transparent;
	border: none;
	padding: 0;
	text-indent: -9999px;
	cursor: pointer;
	background-image: url("../svg/form-x.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.trends {
	margin-bottom: 44px;
}

.trends-title, .trends-title a {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	display: block;
	text-decoration: none;
	color: #0f0d0e;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 23px;
	text-align: center;
	margin-top: 18px;
}

.trends-title::after {
	content: " ";
	display: block;
	width: 66px;
	height: 3px;
	background-color: #e1d9bd;
	margin: -14px auto 0;
}

.trends-items {
	display: flex;
	flex-wrap: wrap;
	
}

.trends-item {
	display: flex;
	position: relative;
	min-height: 232px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: #000000;
	z-index: 0;
	margin-bottom: 3px;
	padding: 16px 20px;
	align-items: flex-end;
	width: 100%;
	box-sizing: border-box;
}

.trends-item::before {
	content:" ";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #606260;
	opacity: 0.6;
	z-index: -1;
}

.trends-item-desc {
	width: 100%;
    border: solid 3px #74673d;
    display: flex;
    flex-wrap: wrap;
    padding-top: 33px;
    padding-left: 20px;
    padding-bottom: 26px;
    padding-right: 26px;
    box-sizing: border-box;
	margin: 0px;
}

.trends-item-tags, 
.trends-item-tags li a {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	color: #b59f5b;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 9px;
	text-decoration: none;

}

.trends-item-tags li {
	display: inline;
	margin-right: 20px;
}
.trends-item-tags li:hover {
	text-decoration: underline;
}

.trends-item-title a {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 17px;
	text-decoration: none;
}
.trends-item-title a:hover {
	color: #b59f5b;
}
.content {
	/* min-width: 360px; */
	padding-left: 16px;
	padding-right: 16px;
}

.main-content {
	margin-bottom: 38px;
	
}

.article-list-item {
	display: flex;
	flex-wrap: wrap;
	border-bottom: solid 3px #eeeeee;
    
}


.article-list-item:nth-child(n+2) {
	margin-top: 44px;
}

.article-list-item-img {
	width: 100%;
}
	
.article-list-item-img img {
	width: 100%;
}

.article-list-item-desc-title a {
	color: #0f0d0e;
	text-decoration: none;
}

.article-list-item-desc {
	width: 100%;
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 18px;
}

.article-list-item-desc-tags {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	color: #b59f5b;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 9px;
	
}

.article-list-item-desc-tags a{
	color: #b59f5b;
	text-decoration: none;
	
}

.article-list-item-desc-tags li {
	margin-right: 19px;
	display: inline-block;
}

.article-list-item-desc-title {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	color: #0f0d0e;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 15px;
	text-decoration: none;
}


.article-list-item-desc-data {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 400;
	font-style: normal; 
	font-size: 12px;
	line-height: 40px;
	color: #888888;
	margin-bottom: 15px;
	display: block;
	}

.article-list-item-desc-data span {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 40px;
	color: #000000;
	display:inline-block;
	margin-left: 16px;
}

.article-list-item-desc-text {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 400;
	font-style: normal; 
	font-size: 14px;
	line-height: 20px;
	color: #0f0d0e;
}

.article-list-item-desc-text p {
	padding-bottom: 6px;
}
 
 .latest-post-list {
margin-bottom: 60px;	
}
 
.latest-post-title {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #0f0d0e;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

.latest-post-title span::after {
	content: " ";
	display: block;
	width: 66px;
	height: 3px;
	background-color: #e1d9bd;
	margin: 10px auto 0;
}

.latest-post-list-item {
	display: flex;	
}

.latest-post-list-item:nth-child(n+2){
	margin-top: 18px;
}

.latest-post-list-item-desc {
	margin-top: -8px;
}

.latest-post-list-item-img {
	max-width: 71px;
	margin-right: 19px;
	width: 100%;
}	

.latest-post-list-item-img img {
	width: 100%;
}

.latest-post-list-item-data {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 400;
	font-style: normal; 
	font-size: 12px;
	line-height: 22px;
	color: #a9a9a9;
}

.latest-post-list-item-text {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

 .search {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}

.search-group {
	flex-grow: 4;
}

.field {
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	background-color: #f4f7f6;
	border: 1px solid #f4f7f6;
	padding: 19px;
	font-size: 13px;
	
}
.field:focus {
	border: 1px solid #b59f5b;
	outline: none;
}

.button {
	box-sizing: border-box;
	width: 48px;
	height: 48px;
	background-color: #b59f5b;
	background-image: url("../svg/search.svg");
	background-repeat: no-repeat;
	background-size: 19px;
	background-position: center center;
	border: 2px solid #b59f5b;
	cursor: pointer;
}

.button:hover {
	background-color: #323232;
	border: 2px solid #323232;	
}

.sub {
	display: flex;
    flex-wrap: wrap;
}


.subscribe {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 58px;
	width: 100%;
}


.subscribe span::after {
	content: " ";
	display: block;
	width: 66px;
	height: 3px;
	background-color: #e1d9bd;
	margin: 0px auto;
}

.subscribe-field {
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	background-color: #f4f7f6;
	border: 1px solid #f4f7f6;
	padding: 19px;
	font-size: 13px;
}

.subscribe-field:focus {
	border: 1px solid #b59f5b;
	outline: none;
}

.subscribe-title {
	display: block;
    width: 100%;
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 30px;
	color: #0f0d0e;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 16px;
}

.subscribe-title::after {
	content: " ";
    display: block;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    margin: 10px auto 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.subscribe-group {
	width: 100%;
	margin-bottom: 19px;
}

.subscribe-group-button {
	width: 100%;
	height: 50px;
	background-color: #b59f5b;
	border: none;
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
}

.subscribe-group-button:hover {
	background-color: #323232;
}

.tags-group {
	margin-bottom: 50px;
}

.tags-group-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.tags-group-title {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #0f0d0e;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 18px;
}

.tags-group-title span::after {
	content: " ";
	display: block;
	width: 66px;
	height: 3px;
	background-color: #e1d9bd;
	margin: 15px auto 0;
}

.tag {
	display: flex;
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	padding: 5px 14px;
	border: 3px solid #eeeeee;
	margin-right: 5px;
	margin-bottom: 6px;
	color: #0f0d0e;
}

.tag:hover {
	border-color: #b59f5b;
}

.categories {
	margin-bottom: 44px;	
}

.categories-title {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 30px;
	color: #0f0d0e;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 14px;
}

.categories-title span::after {
	content: " ";
	display: block;
	width: 66px;
	height: 3px;
	background-color: #e1d9bd;
	margin: 0px auto;
}

.categories-list-item {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 47px;
	border-bottom: 1px solid #eeeeee;
		
}
.categories-list-item a:hover {
	color: #c5b585;
	text-decoration: none;
}
 
.categories-list-item a {
	text-decoration: none;
	color: #000000;
}
 
 .categories-list-item sup {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 37px;
	color: #c5b585;
	margin-left: 5px;
	display: inline-block;
} 
 
.shop {
	/* min-width: 360px; */
	padding: 0 16px;
}
 
.shop-title,
.shop-title a {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	display: block;
	text-decoration: none;
	color: #0f0d0e;
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 30px;
	text-align: center;
	
}
 
 .shop-title::after {
	content: " ";
	display: block;
	width: 66px;
	height: 3px;
	background-color: #e1d9bd;
	margin: 0px auto;
	margin-top: -20px;
}
 
 .shop-product {
	margin-bottom: 26px;
}
 
 .shop-product-body {
	display: block;
	border: solid 3px #d3c59d;
    padding-top: 50px;
    padding-left: 21px;
    padding-right: 21px;
    margin-top: -30px;
    padding-bottom: 20px;
	position: relative;
 }
 
 
 .shop-product-img {
	display: block;
	width: 286px;
    height: 286px;
	margin: 0 auto;
}
 
.shop-product-img img {
	width: 100%;
	
}
 
.shop-product-name,
.shop-product-name a {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	text-decoration: none;
	color: #0f0d0e;
	text-transform: uppercase;
	font-size: 20px;
	
}
 
.shop-product-text {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 400;
	font-style: normal; 
	font-size: 15px;
	line-height: 22px;
	color: #0f0d0e;
	margin-bottom: 24px;
 }
 
.shop-product-text:hover{
	font-weight: 700;
}

 
.shop-product-text a {
	 color: #b59f5b;
 }
 
.shop-product-text a:hover {
	text-decoration: underline;
}
 
.product-old-price {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: line-through; 
}

.product-old-price::after {
	content: ' \20BD';
}


 .product-new-price {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
 }
 
.product-new-price::after {
	content: ' \20BD';
}
 
.product-button {
	display: block;
	box-sizing: border-box;
	height: 50px;
	background-color: #b59f5b;
	border: none;
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	padding: 18px 30px;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
 }
 
.product-button:hover {
	background-color: #323232;
}
 
.shop-product-footer {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	width: 100%;
}
 
 .footer {
	width: 100%;
	min-width: 360px;
	margin: 25px auto;
		
 }
 .social {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 85px;
	background-color: #f4f7f6;
	margin-bottom: 46px;
	 
 }
 
 .social-icon {
	height: 21px;
	margin: 0 15px;
}

 .social-icon {
	display: inline-block;
}
 
 .social-icon-dribble {
	width: 22px;
	background-image: url("../svg/001-dribbble.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

 .social-icon-pinterest {
	width:18px;
	background-image: url("../svg/002-pinterest.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.social-icon-tumblr {
	width:15px;
	background-image: url("../svg/003-tumblr.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
 
 .footer-copy {
	display: block;
	margin: auto;
	width: 100%;
	height: 12px;
	text-align: center;
 
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 700;
	font-size: 12px;
}
 
.footer-copy a {
	text-decoration: none;
	color: #cdcdcd;
 }

@media (min-width: 640px)and (max-width: 1199px) and (orientation:portrait)  {

.trends-item {
		width: calc(50% - 4px);
		padding: 15px 20px;
}
.trends-item:nth-child(even) {
		margin-left: 4px;
}

}

@media (min-width: 640px) and (max-width: 1199px)and (orientation:landscape)  {

	.trends-item {
		width: calc(25% - 4px);
	}

	.trends-item:nth-child(n+2) {
		margin-left: 4px;
	}
}

@media (max-width: 639px) and (orientation:portrait)  {


	.trends-item {
		width: 100%;
		
	}
}

@media (max-width: 639px)and (orientation:landscape)  {

	
	.trends-item {
		width: calc(50% - 4px);
	}

	.trends-item:nth-child(even) {
		margin-left: 4px;
	}
}

@media (min-width: 640px) and (max-width: 1199px) {
		
.header {
	width: 100%;
	min-height: 392px;
	background-image: url("../images/banner-bg-tablet.jpg");
}
	
.header-menu {
	display: flex;
	justify-content: space-between;
	/* max-width: 700px; */
	margin: 18px auto 89px;
	padding: 28px 15px 0;
}

.menu {
	position: relative;
	right: 0;
	top: 0px;
}

.logo {
	max-width: 158px;
	width: 100%;
	max-height: 38px;
	height: 100%;
}

.logo img {
	min-width: 158px;
}

.header-title {
	max-width: 607px;
}
.header-title h1 {
	font-size: 40px;
	line-height: 55px;
}	

.popup-container {
	max-width: 390px;
	padding: 55px 31px;
}	
.popup-title {
	font-size: 18px;
}

.popup-form-block-poll {
	width: 100%;
}

.popup-form-block-button {
	width: 100%;
}
	
.trends-items {
	/* display: flex; */
	/* flex-wrap: nowrap;
	 */
}

.content {
	/* min-width: 640px; */
	margin: 0 auto;
	/* padding: 0 35px; */
	display: flex;
	
}
.main-content {
	width: 100%;
	margin-right: 35px;
}

.article-list-item-img {
	/* width: 381px; */
}

.side-bar {
	max-width: 272px;
	width: 100%;
}

.field {
	width: 222px;
}

.subscribe-field {
	width: 272px;
}

.subscribe-group-button {
	width: 100%; }

.shop-products {
	display: flex; 
	flex-wrap: wrap;
}
.shop-product {
	width: calc(50% - 25px);
}

.shop-product:nth-child(even) {
	margin-left: 25px;
}

.shop-product-img {
	width: 293px;
    height: 228px;
	margin: 0 auto;
}
 
}

/***** header ****/
 @media (min-width: 1200px) {

.header {
	min-width: 1200px;
	min-height: 449px;
	margin-bottom: 64px;
	background-image: url("../images/banner-bg.jpg");
}


.header-menu {
	display: flex;
    justify-content: space-between;
	/* max-width: 1170px; */
	margin: 0 auto 106px;
    padding: 28px 15px 0;
}


.logo {
	max-width: 179px;
	width: 100%;
	max-height: 41px;
}
  
.menu {
	margin-top: 17px;
}

.btn-close-menu, .btn-close-menu-label {
	display: none;
}

.article-list-item-img {
	max-width: 381px;
}

.menu-list {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
}
  
.menu-list-item {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 400;
	font-style: normal; 
	font-size: 13px;
	line-height: normal;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
}

.menu-list-item a {
	color: #ffffff;
	text-decoration: none;
}

.menu-list-item:nth-child(n+2) {
	margin-left: 35px;
}
 
.menu-list-item a:hover {
	text-decoration: underline;
}

.header-title {
	max-width: 687px;
}
 
.header-title h1 {
	font-size: 45px;
	line-height: 75px;
	text-align: center;
}

/* popup */

	
.popup-container {
	padding: 54px 30px;
}	


.popup-title {
	font-size: 20px;
	
}

.popup-form-block {
	margin-bottom: 34px;
}

.popup-form-block-poll {
	width: 100%;
}


.popup-form-block-poll:hover {
	border: solid 1px #b59f5b;
}

.popup-form-block-textarea {
	width: 100%;
}

.reply  {
	width: 100%;
	
}	
	
.reply:hover{
	border: 1px solid #b59f5b;
}

.popup-form-block-button {
width: 100%;

}

.popup-form-block-button:hover {
	background-color: #323232;
}


.popup-close {
	width: 20px; 
	height: 20px;
	top: -25px;
	
}

.content {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto 33px;
	
	display: flex;
	
}



.wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.trends {
	width: 100%;
	margin-bottom: 64px;
}

.trends-title,
.trends-title a {
	font-size: 20px;
	margin-bottom: 26px;
}


.trends-items {
	flex-wrap: nowrap;
	justify-content: center;
	min-height: 320px;
}

.trends-item {
	margin-left: 4px;
	padding: 20px;
}

.trends-item-desc {
	padding-top: 30px;
    padding-left: 34px;
	padding-bottom: 30px;
    margin: 0 auto;
}


.trends-item-tags li:hover {
	text-decoration: underline;
}

.trends-item-title a {
	font-size: 20px;
	line-height: 22px;
	
}

.trends-item-title a:hover {
	color: #b59f5b;
}

.main-content {
	max-width: 778px;
	margin-right: 120px;
	margin-bottom: 54px;
}

.article-list-item {
	display: flex;
	flex-direction: row;
	border-bottom: 0;
	flex-wrap: nowrap;
}

.article-list-item:nth-child(n+2) {
	margin-top: 57px;
}


.article-list-item-desc {
	margin-left: 28px;
	margin-top: 0;
}

.article-list-item-desc-tags {
	text-decoration: none;
	
}

.article-list-item-desc-title {
	font-size: 20px;
	line-height: 22px;
	margin-bottom: 17px;
}

.article-list-item-desc-text p {
	padding-bottom: 10px;
}

/*боковая панель*/

.latest-post-list {
	margin-bottom: 52px;
}

.latest-post-title {
	font-size: 14px;
}


.field:focus {
	border: 1px solid #b59f5b;
	outline: none;
}

.button:hover {
	background-color: #323232;
	border: 2px solid #323232;	
}
.subscribe {
	justify-content: center;
	margin-bottom: 51px;
}

.subscribe span::after {
	content: " ";
	display: block;
	width: 66px;
	height: 3px;
	background-color: #e1d9bd;
	margin: 0px auto;
}

.subscribe-field {
	height: 48px;
}

.subscribe-field:focus {
	border: 1px solid #b59f5b;
	outline: none;
}

.subscribe-title {
	margin-bottom: 30px;
}

.subscribe-group-button {
	height: 48px;
}

.subscribe-group-button:hover {
	background-color: #323232;
}

.tags-group {
	margin-bottom: 40px;
}

.tags-group-title {
	font-size: 14px;
}

.shop {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
 }
 
.shop-products {
	display: flex;
	flex-wrap: nowrap;
}
 
.shop-product {
	width: calc(100% / 3);
}

.shop-product:nth-child(n+2) {
	margin-left: 65px;
}
 
.shop-product-body {
	   min-height: 191px;
 }
 
.shop-product-img {
	max-width: 300px;
	width: 100%;	
	height: 205px;
}
 
.shop-product-img img {
	width: 100%;	
}
 
.footer {
	margin: 0px auto;
		
 }

 
.social-icon {
	height: 21px;
	margin: 0 15px;
}

.social-icon {
	display: inline-block;
}
 
.footer-copy {
	height: 14px;
}
 
}